/** 清除内外边距 **/
h1,h2,h3,h4,h5,h6,hr,p,blockquote,
/* structural elements 结构元素 */
dl,dt,dd,ul,ol,li,
/* list elements 列表元素 */
pre,
/* text formatting elements 文本格式元素 */
form,fieldset,legend,button,input,textarea,
/* form elements 表单元素 */
th,td
/* table elements 表格元素 */
{
	margin: 0;
	padding: 0;
}
body{
	padding: 0;
	margin: 0;
}
/** 设置默认字体 **/
body,button,input,select,textarea
/* for ie */
{
	font-family:"黑体";
	font-size: 14px;
	background-color: white;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}
/* 统一等宽字体 */
small {
	font-size: 12px;
}
/* 小于 12px 的中文很难阅读，让 small 正常化 */
/** 重置列表元素 **/
ul,ol {
	list-style: none;
}
/** 重置文本格式元素 **/
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
/** 重置表单元素 **/
legend {
	color: #000;
}
/* for ie6 */
fieldset,img {
	border: 0;
}
/* img 搭车：让链接里的 img 无边框 */
button,input,select,textarea {
	font-size: 100%;
}
/* 使得表单元素在 ie 下能继承字体大小 */
/** 重置表格元素 **/
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*标题-导航栏开始*/
   h1,h2,h3{
    	font-size: 0.3rem;
    }
    a{
    	color: black;
    	text-decoration: none;
    }
    .wrapper{
        width: 100%;
    }
    .innerbox{
    	width: 100%;
    	margin: 0 auto;
    }
    .title{
        height: 1.5rem;
        background: #D6DADB;
        line-height: 1.5rem;
        color: #333;
        font-weight: bold;
        font-size: 1rem;
    }
    .title p{
    	padding-left: 0.2rem;
    }
    #nav{
    	width: 100%;
    	background: #2D3E50;
    }
    #nav ul{
    	height: 1rem;
    	padding-left: 0.2rem;
    }
    #nav ul li{
    	float: left;
    	list-style: none;
    }
    #nav ul li a{
    	margin-right: 0.4rem;
    	display: block;
    	color: white;
    	text-decoration: none;
        font-size: 0.4rem;
        line-height: 1rem;
    }
/*标题-导航栏结束*/
/*尾部开始*/
.footer{
	width: 100%;
}
.footer p{
	width: 3rem;
	margin: 0 auto;
	color: #2D3E50;
	font-size: 0.3rem;
}
    