.con{
	width: 100%;
	height: 20rem;
}
.eassy{
	padding: 0.5rem;
}
/*.eassy h1{
	font-size: 0.6rem;
	text-align: center;
	line-height: 0.8rem;
}
.eassy h2{
	color: #8C8CA8;
	font-size: 0.3rem;
	text-align: center;
	font-weight: normal;
	line-height: 0.8rem;
	
}
.eassy p{
	color: #202123;
	font-size: 0.5rem;
	text-indent: 1rem;

	
}*/
.eassy pre{
	line-height: 0.8rem;
	
}
