<!DOCTYPE html>
　　<html>
	 {% include head.html %}
<body>
	<!-- 顶部导航开始 -->
	{% include navbar.html%}
	<!--顶部导航结束-->
<!--<div class="row feature" id="content" style="padding: 0;margin: 0;">
            <div class="col-md-12" id="left_con2" style="padding: 0;margin: 0;">
				{{ content }}
     </div>
</div>

　　　　


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
　　</body>
</html>