<!DOCTYPE html>
　　<html>
	 {% include head.html %}
<body>
	<!-- 顶部导航开始 -->
	{% include navbar.html%}
	<!--顶部导航结束-->
<!--banner-->
<!--banner结束-->
	<div class="col-md-2 hidden-xs" id="toc" style="background: white;">
		<h2>目录</h2>
	</div>
<div class=" feature container" id="content" style="padding: 0;">
	<div class="col-md-2" id="toc2"></div>
    <div class="col-md-9 " id="easypage" style="padding: 0;z-index:-1">
		<div id="easypage-con" style="background: white;line-height: 26px;">
			{{ content }}
		</div>	
     </div>
</div>
		
<div id="footer" class="col-md-12" style="text-align: center;">
	<p><a href="https://github.com/moorain">GitHub</a> <a href="###">微博</a> <a href="###">QQ</a> Design by Moorain  --2016</p>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--访问LeanCloud的js包装脚本-->
<script src="https://cdn1.lncld.net/static/js/av-core-mini-0.6.1.js"></script>
<!--初始化LeanCloud的AV对象-->
<script>
AV.initialize("hQbdf5f1KrAGwtP4cXqprx7y-gzGzoHsz", "7F5Wwjbvx11t0bBmyIgmtpy5");
</script>

     <script type="text/javascript">
     	window.onload = function(){
     		var ti = $("h3")
     		for(i = 0;i<ti.length;i++){
     			var  aa  = document.createElement('a');  
	     		console.log(aa)
	     		$("#toc").append(aa);
	     		
     		}
     		var num = [];
	     	for(var i = 0;i<ti.length;i++){
//	     		var aa = $('<a></a>').text("111")
				
			//得到每个h3标签内的文字，加入到目录a标签内
	     		var txt = $("h3")[i].innerHTML;
	     	    $("#toc a")[i].innerHTML = txt;
			//将获取到h3标签的高度存入数组中
	     	    var top = $("h3")[i].offsetTop;
	     	    num.push(top);
	     	}
			//设置点击事件
	     	     $("#toc a").click(function(){
	     	     	var index = $("#toc a").index(this)
	     	    	$("body").scrollTop(num[index])
	     	    })
     	}
     	
     	

//实现浏览次数
function showTime(Counter) {
    var query = new AV.Query(Counter);
    var entries = [];
    var $visitors = $(".leancloud_visitors");

    $visitors.each(function() {
        entries.push($(this).attr("id").trim());
    });

    query.containedIn('url', entries);
    query.find()
        .done(function(results) {
            var COUNT_CONTAINER_REF = '.leancloud-visitors-count';
            var OLD_COUNT_CONTAINER_REF = '.old-visitors-count';

            // if (results.length === 0) {
            //     $visitors.find(COUNT_CONTAINER_REF).text(0);
            //     return;
            // }

            for (var i = 0; i < results.length; i++) {
                var item = results[i];
                var url = item.get('url');
                var time = item.get('time');
                var element = document.getElementById(url);

                $(element).find(COUNT_CONTAINER_REF).text(time);
            }
            for (var i = 0; i < entries.length; i++) {
                var url = entries[i];
                var element = document.getElementById(url);
                var countSpan = $(element).find(COUNT_CONTAINER_REF);
                if (countSpan.text() == '') {
                    var oldCountSpan = $(element).find(OLD_COUNT_CONTAINER_REF).text();
                    if(oldCountSpan!=''){
                        countSpan.text(0+parseInt(oldCountSpan));
                    }else{
                        countSpan.text(0);          
                    }
                }
            }
        })
        .fail(function(object, error) {
            console.log("Error: " + error.code + " " + error.message);
        });
}

function addCount(Counter) {
    var $visitors = $(".leancloud_visitors");
    var url = $visitors.attr('id').trim();
    var title = $visitors.attr('data-flag-title').trim();
    var query = new AV.Query(Counter);

    query.equalTo("url", url);
    query.find({
        success: function(results) {
            if (results.length > 0) {
                var counter = results[0];
                counter.fetchWhenSave(true);
                counter.increment("time");
                counter.save(null, {
                    success: function(counter) {
                        var $element = $(document.getElementById(url));
                        $element.find('.leancloud-visitors-count').text(counter.get('time'));
                    },
                    error: function(counter, error) {
                        console.log('Failed to save Visitor num, with error message: ' + error.message);
                    }
                });
            } else {
                var newcounter = new Counter();
                /* Set ACL */
                var acl = new AV.ACL();
                acl.setPublicReadAccess(true);
                acl.setPublicWriteAccess(true);
                newcounter.setACL(acl);
                /* End Set ACL */
                newcounter.set("title", title);
                newcounter.set("url", url);
                var OLD_COUNT_CONTAINER_REF = '.old-visitors-count';
                var $element = $(document.getElementById(url));
                var oldCountSpan = $element.find(OLD_COUNT_CONTAINER_REF).text();
                if(oldCountSpan!=''){
                    newcounter.set("time", parseInt(oldCountSpan)+1);
                }else{
 	                    newcounter.set("time",  1);
                }
                newcounter.save(null, {
                    success: function(newcounter) {
                        var $element = $(document.getElementById(url));
                        $element.find('.leancloud-visitors-count').text(newcounter.get('time'));
                    },
                    error: function(newcounter, error) {
                        console.log('Failed to create');
                    }
                });
            }
        },
        error: function(error) {
            console.log('Error:' + error.code + " " + error.message);
        }
    });
}
$(function() {
    var Counter = AV.Object.extend("Counter");
    //如果只有1个.leancloud_visitors，则说明是博客页，需要显示查看数并将查看数+1
    //超过1个，则说明是文章列表，只需要显示查看数
    if ($('.leancloud_visitors').length == 1) {
        addCount(Counter);
    } else {
        showTime(Counter);
    }
});
     </script>
     <script src="https://s22.cnzz.com/z_stat.php?id=1264799330&web_id=1264799330" language="JavaScript"></script>
　　</body>
</html>